@import "landing-header.css";
@import "main.css";
@import "footer.css";


h3 {
  width: 100%;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

p {
    width: 85%;
}


.header__h2 {
  width: 90px;
}

#contact {
  width: 75%;
  background:#F9F9F9;
  padding:35px;
  margin:50px auto
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="text"], 
#contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, 
#contact input[type="email"]:hover,
#contact input[type="text"]:hover,, 
#contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#30054a96;
  box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.6);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#5f0c9296;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, 
#contact textarea:focus {
  outline:0;
  border:1px solid #999;
}

::-webkit-input-placeholder {
 color:#888;
}

:-moz-placeholder {
 color:#888;
}

::-moz-placeholder {
 color:#888;
}

:-ms-input-placeholder {
 color:#888;
}

@media  screen and (min-width: 800px)  {
  p {
    width: 65%;
  }

  #contact {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  p {
    width: 55%;
  }

  #contact {
    width: 55%;
  }
}
 

