footer {
  background-color: #696969;
  color: #e0e0e0;
  text-align: center;
  height: 80px;
}

.disclaimer__NREL-disclaimer {
  font-size: 0.5rem;
  padding: 1rem;
/*  margin-right: 0;*/
  width: 95%;
  padding-bottom: 0;
  margin: 0;
  letter-spacing: 0;
}

footer a {
  letter-spacing: 0;
  margin: 0;
}

.disclaimer__links li {
  text-align: center;
  color: #e0e0e0;
  font-size: 0.5rem;
  text-decoration: none;
  display: inline-block;
}

footer ul {
  padding: 0;
  padding-left: 6px;
}

.disclaimer__links,
footer a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 0.5rem;
}

.disclaimer__links:hover,
footer a:hover {
  text-decoration: underline;
}
