

footer {
  background-color: #696969;
  color: #e0e0e0;
  text-align: center;
  height: 100%;
}

.disclaimer__NREL-disclaimer {
  padding: 0 1rem;
  width: 90%;
  margin: 0;
  letter-spacing: 0;
  font-size: 10px;
}

footer a {
  letter-spacing: 0;
  margin: 0;
}

.disclaimer__links li {
  text-align: center;
  color: #e0e0e0;
  text-decoration: none;
  display: inline-block;
}

footer ul {
  padding: 0;
  padding-left: 6px;
}

.disclaimer__links,
footer a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 10px;
}

.disclaimer__links:hover,
footer a:hover {
  text-decoration: underline;
}

.disclaimer__NREL-disclaimer {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .disclaimer__NREL-disclaimer {
    width: 95%;
  }
}