@import "landing-header.css";
@import "main.css";
@import "footer.css";

.globus-data-description {
  padding: 40px;
}

.main__links__sections {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 2px #69696994 double;
  padding: 3px;
}

article {
  padding: 20px;
  border-top: 2px solid #696969;
  margin: 0;
}

h3 {
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #696969;
}

.globus-data-description p {
  margin: 0 auto;
}

.header__h2 {
  width: 265px;
}

.main__links {
  display: none
}

.main__links li {
  border: ;
}

p {
  width: 98%;
  letter-spacing: 0;

}

a {
  letter-spacing: 0;
  margin: 0;
}

.main__instructions p {
  display: list-item;                                           
  list-style-type: disc; 
  list-style-position: inside;
}

h4 {
  font-size: 18px;
  text-align: center;
}

:target h4 {
  border: 2px black solid;
  padding: 10px;
  margin: 0 30%;
}

img {
  height: auto;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (min-width: 600px) {
  p {
    width: 85%;
  }

  article {
    padding: 30px;
    margin: 0 40px;
  }

  img {
    width: 85%;
  }

}


@media screen and (min-width: 850px) {
  p {
    width: 65%;
  }

  .main__links {
    display: inherit;
  }

  article {
    padding: 40px;
    margin: 0 60px;
  }

  img {
    width: 65%;
  }

}




