@import "landing-header.css";
@import "main.css";
@import "footer.css";


.globus-data-description {
  padding: 40px;
}

.main__links__sections {
  font-size: 1.3em;
}

article {
  padding: 20px;
  border-top: 2px solid #696969;
  margin: 0;
}

.main__links {
  display: none
}

.main-links-globus {
  width: 40px;
  height: 30px;
  padding-top: 20px;
}

h3 {
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #696969;
}

.globus-data-description p {
  margin: 0 auto;
}

.header__h2 {
  width: 265px;
}

p {
  width: 98%;
  letter-spacing: 0;
  line-height: 200%;
}

main a {
  letter-spacing: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.main__instructions p {
  display: list-item;                                           
  list-style-type: disc; 
  list-style-position: inside;
}

h4 {
  font-size: 18px;
  text-align: center;
}

img {
  height: auto;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (min-width: 600px) {
  p {
    width: 85%;
  }

  article {
    padding: 30px;
    margin: 0 40px;
  }

  img {
    width: 85%;
  }

}


@media screen and (min-width: 850px) {
  p {
    width: 65%;
  }

  .main__links {
    display: inherit;
  }

  article {
    padding: 40px;
    margin: 0 60px;
  }

  img {
    width: 65%;
  }

}
