@import "header.css";
@import "footer.css";

*, 
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 0;
  letter-spacing: 2px;
}

body {
  background-color: #e5e5e5;
  color: black;
  min-width: 300px;
}

/*HEADER*/

header {
  background: linear-gradient(
                    rgba(212, 212, 212, 0.2),
                    rgba(194, 192, 192, 0.5)),
                    url('../images/earth-night.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 450px;
  color: #e0e0e0;
  margin-top: 20px;
  border-top: 2px #696969 solid;
}

header h2 {
  padding: 70px 0 40px 0;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

p {

  margin: 20px;
}

p, li {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0;
}

.header__nav__link {
  color: white;
  font-size: .9em;
  margin: 40px 55px;
}

.header__nav__link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.header__nav li {
  display: block;
  margin: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

main ul li {
  display: block;
  margin: 31px 0;
}

.header__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: .7;
  margin-top: 56px;
}

.header__search__input { 
  border-radius: 5px 0 0 5px; 
  font-size: 1em;
  height: 1.2em;
  width: 40%;  
  vertical-align: middle;  
}

header button {
  background-image: url('../images/icons/magnifying-glass.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 15px;
  width: 30px;   
  background-position-x: 6px; 
  border-radius: 0 5px 5px 0; 
}

/*TOP MAIN SECTION*/

h3 {
  font-size: 18px;
  border-bottom: 2px #69696994 solid;
  margin: 0 auto;
  padding: 10px;
}

:target h3 {
  border: 2px black solid;
  padding: 10px;
  font-weight: bold;
}

.main__subtitle h3 {
  margin: 20px 16%;
}

.main__subtitle {
  text-align: center;
  padding: 25px 0;
}

.main__subtitle__link,
.main__what-is__link {
  font-size: 14px;
  border: 2px #696969 solid;
  padding: 5px;
  margin: 0 16px;
  color: black;
}

.main__what-is__link {
  margin: 13px 16px;
}

.main__subtitle__link:hover,
.main__what-is__link:hover {
  border: 5px #696969 solid;
  font-weight: bold;
}

.main__button {
  display: none;
}

/*TOP IMAGE SECTION */

.main__collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  height: 300px;
  grid-gap: 0;
  margin: 0;
}

.main__collage__image {
  height: 100%;
  width: 100%;
  opacity: .7;
}

  .main-image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main-image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .main-image3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .main-image4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main-image5 {
    display: none;
  }

  .main-image6 {
    display: none;
  }

/*WHAT IS SECTION*/

.main__what-is {
  text-align: center;

  padding: 53px 4% 53px 4%;
  10px 15% 53px 15%;
}

/*ACCESS DATA*/
.main__data {
  background: linear-gradient(
                rgba(212, 212, 212, 0.53),
                rgba(194, 192, 192, 0.51)),
                url('../images/panels.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 5px 6%;
  background-position: bottom;
}

.main__data h3 {
  margin: 20px auto;
  width: 65%;
}

.drop-shadow-text-box {
  margin: 20px auto;
  width: 45%;
  padding: 5px;
  background-color: #e5e5e5c2;
}

#access-data .drop-shadow-text-box {
  width: 100%;
  padding: 25px;
}

.ways-to-access-data {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 560px;
}

article {
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(194, 192, 192, 0.7)),
    url('../images/solar-panel.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 2px black solid;
}

article:hover {
  background: linear-gradient(
    rgba(212, 212, 212, 0.6),
    rgba(194, 192, 192, 0.8)),
    url('../images/solar-panel.jpeg')
}

article h1 {
  font-size: 18px;
  background-color: #9a9898c2;
  padding: 24px 13px;
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4 {
  text-align: center;
  background-color: #F1F1F1;
  font-size: 16px;
  padding: 16px;
}

.data-show {
  opacity: 0
}

.data-hide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 1s ease;
}

/*.nsrdb-viewer:hover .data-hide,
.nsrdb-api:hover .data-hide,
.globus-data:hover .data-hide {
  opacity: 1;
}

.nsrdb-viewer:hover .data-show,
.nsrdb-api:hover .data-show,
.globus-data:hover .data-show {
  opacity: 0;
}*/

.data-hide p {
  color: black;
  font-size: 14px;
  position: absolute;
  text-align: center;
  background-color: #9a9898c2;
  padding: 5px;
  margin: 0;
}

.data-hide a {
  letter-spacing: 0;
}

.data-hide button {
  position: absolute;
  width: 200px;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.compatability li {
  font-size: 14px;
  border: 2px #696969 solid;
  padding: 5px;
  margin: 13px 20%;
  display: block;
}

.compatability a {
  letter-spacing: 0;
  color: black;
}

.compatability li:hover {
  border: 4px #696969 solid;
  background-color: #9a9898c2;
}


/*CONTRIBUTORS*/
.main__contributors {
  text-align: center;
  padding: 53px 4%;
}

.main__contributors a {
  letter-spacing: 0;
  font-family: 'PT Sans', sans-serif;
}

.main__contributors li {
  list-style-type: square;
  display: block;
  margin: 0 20%;
}


/*IMAGE ROW*/
.main__image-row {
  display: none;
}


footer {
  padding: 10px 0;
}

footer li {
  display: inline;
}

@media screen and (min-width: 450px) {

  .main__what-is {
    padding: 10px 15% 53px 15%;
  }

  .main__collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    height: 300px;
    margin: 15px 5%;
  }
  
  .main-image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  .main-image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .main-image3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  
  .main-image4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .main-image5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: inherit;
  }
  
  .main-image6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display: inherit;
  }

  .ways-to-access-data {
    height: 440px;
  }
}

@media screen and (min-width: 545px) {

  .header__nav li {
    display: inline-block;
    margin: 0;
  }

  .header__nav__link {
    margin: 39px 18px;
  }

  .main__data h3 {
    width: 35%;
  }

  .ways-to-access-data {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 250px;
  }

  .data-hide p {
    font-size: 12px;
    padding: 0;
    margin: 7px;
  }

  .data-show {
    opacity: 1;
  }

  .data-hide {
    opacity: 0;
  }

  .nsrdb-viewer:hover .data-hide,
  .nsrdb-api:hover .data-hide,
  .globus-data:hover .data-hide {
    opacity: 1;
  }

  .nsrdb-viewer:hover .data-show,
  .nsrdb-api:hover .data-show,
  .globus-data:hover .data-show {
    opacity: 0;
  }

  .main__image-row {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    opacity: .7;
  }

  .main__image-row__image {
    height: 100%;
    width: 100%;
  }

  .main__contributors {
    padding: 53px 15%; 
  }
}

@media screen and (min-width: 770px) {
  .header__nav__link {
    margin: 39px 50px;
  }

  ul li {
    display: inline;
    margin: 0;
  }

  .main__data {
    padding: 50px 15%;
  }

  .data-hide p {
    font-size: 13px;
    margin: 10px;
  }

/*  .main__what-is__link {
    margin: 0px 16px;
  }*/
}
