@import "header.css";
@import "footer.css";

*, 
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 0;
  letter-spacing: 2px;
}

body {
  background-color: #e5e5e5;
  color: black;
  min-width: 350px;
}

/*HEADER*/

header {
  background: linear-gradient(
                    rgba(212, 212, 212, 0.2),
                    rgba(194, 192, 192, 0.5)),
                    url('../images/earth-night.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 450px;
  color: #e0e0e0;
  margin-top: 20px;
  border-top: 2px #696969 solid;
}

header h2 {
  padding: 70px 0 40px 0;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  margin: 20px;
}

:target h3 {
  text-decoration: underline;
  font-weight: bold;
}

.header__nav__link {
  color: white;
  font-size: .9em;
  margin: 40px 55px;
}

.header__nav__link:hover {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
    display: inline;
}

.header__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: .7;
  margin-top: 56px;
}

.header__search__input { 
  border-radius: 5px 0 0 5px; 
  font-size: 1em;
  height: 1.2em;
  width: 40%;  
  vertical-align: middle;  
}

header button {
  background-image: url('../images/icons/magnifying-glass.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 15px;
  width: 30px;   
  background-position-x: 6px; 
  border-radius: 0 5px 5px 0; 
}

/*TOP MAIN SECTION*/

h3 {
  font-size: 15px;
}

.main__subtitle h3 {
  margin-bottom: 27px
}

.main__subtitle {
  text-align: center;
  margin: 60px 0;
}

.main__subtitle__link {
  font-size: 13px;
  border: 2px #696969 solid;
  padding: 5px;
  margin: 0 16px;
  color: black;
}

.main__subtitle__link:hover {
  border: 5px #696969 solid;
  font-weight: bold;
}

#read-more-text__what-is,
#read-more-text__sunshot {
  display: inline
}

.main__button {
  display: none;
}

/*TOP IMAGE SECTION */

.main__collage {
  display: grid;
  grid-template-columns: repeat(4.5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  height: 300px;
  width: 75%;
  margin: 15px auto;
}

.main__collage__image {
  height: 100%;
  width: 100%;
  opacity: .7;
}

.main-image1 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.main-image2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.main-image3 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.main-image4 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

/*WHAT IS SECTION*/

.main__what-is {
  height: 260px;
  text-align: center;
  padding: 53px 20%;
}

.main__what-is p {

}
/*DATA SETS*/

.main__data-set {
  height: 200px ;
  text-align: center;
  margin: 50px 0;
}

.main__data-set__image {
  height: 150px;
  width: auto;
  display: inline;
  margin: 3%;
  border: 1px grey solid;
}

/*SUNSHOT INIATIVE*/
.main__sunshot {
  background: linear-gradient(
                rgba(212, 212, 212, 0.53),
                rgba(194, 192, 192, 0.51)),
                url('../images/panels.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 230px;
  padding: 50px 20%;
  background-position: bottom;
}

.main__sunshot p {
    background-color: white;
    opacity: 0.5;
    padding: 10px;
}

/*EVALUATION*/
.main__evaluation {
  height: 200px;
  text-align: center;
  padding: 53px 20%;
}


/*IMAGE ROW*/
.main__image-row {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  opacity: .7;
}

.main__image-row__image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 845px) {

  .main__what-is {
    height: 300px;
  }

  .header {
    height: 400px;
  }

  .header__search__input {
    height: 1.6em;
  }

  .main__sunshot {
    height: 287px;
  }

}

@media screen and (max-width: 705px) {

  .header {
    height: 350px;
  }


  .header__nav__link {
    margin: 40px 30px;
  }



  .main__collage {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 20px;
    height: 300px;
/*    margin: 0;*/
  }

  .main-image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .main-image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .main-image3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  
  .main-image4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .main__what-is {
    height: 260px;
    padding: 37px 15%;
  }

  .main__sunshot {
    height: 300px;
  }

}

@media screen and (max-width: 585px) {
  .header__nav__link {
    margin: 36px 25px;
  }
  
  .main__what-is {
    height: 322px;
  }

  .main__sunshot {
    height: 290px;
    padding: 40px 15%;
  }

  .main__evaluation {
    padding: 39px 15%;
  }
}

@media screen and (max-width: 490px) {

  .header h2 {
    padding: 40px 0 20px 0;
  }

  .header li {
    display: block;
    padding: 10px;
  }

  .header__search {
    margin-top: 17px;
}

  .main__subtitle {
    margin: 40px 0;
  }

  .main__subtitle li {
    display: block;
    padding: 16px;
  }

  .main__subtitle h3 {
    margin-bottom: 18px;
  }

  .main__collage {
    grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr); 
    grid-gap: 0;
    margin: 0;
}

  .main-image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main-image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .main-image3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .main-image4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main__what-is {
    height: 370px;
  }

  .main__sunshot {
    height: 350px;
    padding: 40px 15%;
  }

  .main__evaluation {
    padding: 39px 15%;
  }

  .main__image-row {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .main__button {
    display: block;
    margin: auto;
  }

  .main__subtitle h3 {
    margin: 0 10px 18px 10px;
  }

  #read-more-text__what-is,
  #read-more-text__sunshot {
    display: none
  }

  .main__evaluation {
    padding: 33px 15%;
    height: 210px;
  }

  .main__sunshot {
    height: 300px;
    padding: 40px 15%;
  }

}