@import "header.css";
@import "footer.css";

*, 
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 0;
  letter-spacing: 2px;
}

body {
  background-color: #e5e5e5;
  color: black;
  min-width: 350px;
}

/*HEADER*/

header {
  background: linear-gradient(
                    rgba(212, 212, 212, 0.2),
                    rgba(194, 192, 192, 0.5)),
                    url('../images/earth-night.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 450px;
  color: #e0e0e0;
  margin-top: 20px;
  border-top: 2px #696969 solid;
}

header h2 {
  padding: 70px 0 40px 0;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

p {

  margin: 20px;
}

p, li {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0;
}

.header__nav__link {
  color: white;
  font-size: .9em;
  margin: 40px 55px;
}

.header__nav__link:hover {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
    display: inline;
}

.header__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: .7;
  margin-top: 56px;
}

.header__search__input { 
  border-radius: 5px 0 0 5px; 
  font-size: 1em;
  height: 1.2em;
  width: 40%;  
  vertical-align: middle;  
}

header button {
  background-image: url('../images/icons/magnifying-glass.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 15px;
  width: 30px;   
  background-position-x: 6px; 
  border-radius: 0 5px 5px 0; 
}

/*TOP MAIN SECTION*/

h3 {
  font-size: 18px;
  border-bottom: 2px #69696994 solid;
  margin: 20px auto;
  padding: 10px;
}

:target h3 {
  border: 2px black solid;
  padding: 10px;
  font-weight: bold;
}

.main__subtitle h3 {
  margin-bottom: 27px
}

.main__subtitle {
  text-align: center;
  padding: 53px 10%;
}

.main__subtitle__link,
.main__what-is__link {
  font-size: 13px;
  border: 2px #696969 solid;
  padding: 5px;
  margin: 0 16px;
  color: black;
}

.main__subtitle__link:hover,
.main__what-is__link:hover {
  border: 5px #696969 solid;
  font-weight: bold;
}

.main__button {
  display: none;
}

/*TOP IMAGE SECTION */

.main__collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  height: 300px;
  margin: 15px 5%;
}

.main__collage__image {
  height: 100%;
  width: 100%;
  opacity: .7;
}

.main-image1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main-image2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-image3 {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.main-image4 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.main-image5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.main-image6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/*WHAT IS SECTION*/

.main__what-is {
  text-align: center;
  padding: 10px 15% 53px 15%;
}

.main__what-is__link {

}


/*ACCESS DATA*/
.main__data {
  background: linear-gradient(
                rgba(212, 212, 212, 0.53),
                rgba(194, 192, 192, 0.51)),
                url('../images/panels.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 15%;
  background-position: bottom;

}

.main__data h3 {
  margin: 20px auto;
  width: 35%;
}

.drop-shadow-text-box {
  margin: 20px auto;
  width: 45%;
  padding: 5px;
  background-color: #e5e5e5c2;
}

#access-data .drop-shadow-text-box {
  width: 100%;
  padding: 25px;
}

.ways-to-access-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 250px;
}

/*.nsrdb-viewer {
 background: url('../images/data-set-1.png');
 background-size: cover;
}

.nsrdb-api {
  background: url('../images/data-set-2.png');
  background-size: cover;
}

.globus-data {
  background: url('../images/data-set-3.png');
  background-size: cover;
}*/


article {
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(194, 192, 192, 0.7)),
    url('../images/solar-panel.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 2px black solid;
}

article:hover {
  background: linear-gradient(
    rgba(212, 212, 212, 0.6),
    rgba(194, 192, 192, 0.8)),
    url('../images/solar-panel.jpeg')
/*  background-size: cover;
  background-repeat: no-repeat;*/

}

article h1 {
  font-size: 18px;
  background-color: #9a9898c2;
  padding: 24px 44px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4 {
  text-align: center;
  background-color: #F1F1F1;
  font-size: 16px;
  padding: 16px;
}

.data-hide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
}

.nsrdb-viewer:hover .data-hide,
.nsrdb-api:hover .data-hide,
.globus-data:hover .data-hide {
  opacity: 1;
}

.nsrdb-viewer:hover .data-show,
.nsrdb-api:hover .data-show,
.globus-data:hover .data-show {
  opacity: 0;
}

.data-hide p {
  color: black;
  font-size: 14px;
  position: absolute;
  text-align: center;
  background-color: #9a9898c2;
  padding: 5px;
}

.data-hide a {
  letter-spacing: 0;
}

.data-hide button {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.compatability li {
  font-size: 12px;
  border: 2px #696969 solid;
  padding: 5px;
  margin: 0 20%;
/*  color: black;*/
  display: block;
/*  letter-spacing: 0;*/
}

.compatability a {
  letter-spacing: 0;
  color: black;
}

.compatability li:hover {
  border: 4px #696969 solid;
  background-color: #9a9898c2;
}


/*CONTRIBUTORS*/
.main__contributors {
  text-align: center;
  padding: 53px 15%;
}

.main__contributors a {
  letter-spacing: 0;
  font-family: 'PT Sans', sans-serif;
}

.main__contributors li {
  list-style-type: square;
  display: block;
}


/*IMAGE ROW*/
.main__image-row {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  opacity: .7;
}

.main__image-row__image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 845px) {

  .main__what-is {
/*    height: 300px;*/
  }

  .header {
/*    height: 400px;*/
  }

  .header__search__input {
    height: 1.6em;
  }

  .main__data {
/*    height: 287px;*/
  }

}

@media screen and (max-width: 705px) {

  .header {
/*    height: 350px;*/
  }


  .header__nav__link {
    margin: 40px 30px;
  }



  .main__collage {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 20px;
/*    height: 300px;*/
/*    margin: 0;*/
  }

  .main-image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .main-image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .main-image3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  
  .main-image4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .main__what-is {
/*    height: 260px;*/
    padding: 37px 15%;
  }

  .main__data {
/*    height: 300px;*/
  }

}

@media screen and (max-width: 585px) {
  .header__nav__link {
    margin: 36px 25px;
  }
  
  .main__what-is {
/*    height: 322px;*/
  }

  .main__data {
/*    height: 290px;*/
    padding: 40px 15%;
  }

  .main__contributors {
    padding: 39px 15%;
  }
}

@media screen and (max-width: 490px) {

  .header h2 {
    padding: 40px 0 20px 0;
  }

  .header li {
    display: block;
    padding: 10px;
  }

  .header__search {
    margin-top: 17px;
}

  .main__subtitle {
    margin: 40px 0;
  }

  .main__subtitle li {
    display: block;
    padding: 16px;
  }

  .main__subtitle h3 {
    margin-bottom: 18px;
  }

  .main__collage {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    grid-gap: 0;
    margin: 0;
}

  .main-image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main-image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .main-image3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .main-image4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main__what-is {
/*    height: 370px;*/
  }

  .main__data {
/*    height: 350px;*/
    padding: 40px 15%;
  }

  .main__contributors {
    padding: 39px 15%;
  }

  .main__image-row {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .main__button {
    display: block;
    margin: auto;
  }

  .main__subtitle h3 {
    margin: 0 10px 18px 10px;
  }

  .main__contributors {
    padding: 33px 15%;
/*    height: 210px;*/
  }

  .main__data {
/*    height: 300px;*/
    padding: 40px 15%;
  }

}