@import "landing-header.css";
@import "main.css";
@import "footer.css";
@import "table.css";

.main__links li {
  padding-bottom: 15px;

}

/*available data*/


.available-data__section,
.SUNY-data__section   {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  margin: 30px 0 10px;
}

.available-data__section { 
  overflow: scroll;
}

.available-data__section .drop-shadow-text-box {
  width: fit-content;
}

.drop-shadow-text-box {
  width: 90%;
}


/*table*/

table {
  width: 90%;

}


caption {
  margin: 15px;
  text-align: left;

}

/* International countries list*/

article {
  display: inline-block;
  position: relative;
  margin: 10px;
  overflow: hidden;
  width: 90%;
  height: 350px;
  vertical-align: top;
  background: linear-gradient(
    rgba(212, 212, 212, 0.2),
    rgba(194, 192, 192, 0.5)),
    url('../images/nyc-night.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

article:hover {
  background: linear-gradient(
    rgba(212, 212, 212, 0.6),
    rgba(194, 192, 192, 0.8)),
    url('../images/andrew-neel.jpg')
}

article p {
  width: 90%;
}

h4 {
  text-align: -webkit-center;
  height: 30px;
  background-color: #F1F1F1;
  font-size: 2em;
  padding: 0;
  padding-top: 18px;
}

article h1 {
  font-size: 2em;
  color: #fff;
  margin: 20px;
}

.data-hide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;

}

.SUNY-list:hover .data-hide,
.psm-list:hover .data-hide {
  opacity: 1;
}

.SUNY-list:hover .data-show,
.psm-list:hover .data-show {
  opacity: 0;
}

.psm-list {
  overflow: scroll;
}

.international-data__section {
  overflow: scroll;
}

.international-list {
  text-align: center;
}

.international-list__h3 {
  margin: 20px auto;
}

.international-list--header p {
  position: absolute;
  top: 120px;
  right: 10%;
  width: 80%;
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
  background-color: #fff;
  
}

.footer_image {
  background: linear-gradient(
    rgba(212, 212, 212, 0.2),
    rgba(194, 192, 192, 0.5)),
    url('../images/andreas-gucklhorn.jpg');
    height: 250px;
}

.SUNY-data__section {
  margin: 0 auto;
}

/* references*/

.ref {
  padding: 20px;
 }

.ref h3 {
  width: 75%;
}

.ref ul {
  margin: auto;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #e5e5e5c2;
}

.ref li {
  font-size: 1.1em;
}



@media screen and (min-width: 600px) {
  .main__links li {
    padding: 5px;
  }

  .available-data__section .drop-shadow-text-box {
    width: 90%;
  }

  .drop-shadow-text-box {
    width: 90%;
  }
}



@media screen and (min-width: 800px) {
  article {
    width: 45%
  }

  .main__links li {
    padding: 10px;
  }

  .available-data__section {
    background-position: right;
  }

}

@media screen and (min-width: 1000px) {
  article {
    width: 35%;
  }

  .ref ul {
    width: 75%;
  }
 
}

@media screen and (min-width: 1200px) {
  .ref ul {
    width: 60%;
  }
}
