/* nav bar */
nav {
  position: relative;
}

nav ul {   
  margin-top: 20px;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-bottom: 15px;

}

nav a {
  color: #696969;
  text-decoration: none;
  font-size: 10px;
  margin-right: 2em;
}

nav a:hover {
  border-bottom: 2px #69696994 solid;
  padding: 3px;
}

header p {
  width: 39%;
  font-size: 2.3em;
  font-weight: bold;
  margin: 10% auto;
}

#header__nav--active {
  border-bottom: 2px #69696994 solid;
  padding: 3px;
  padding-bottom: 1px;
}

/*dropdown*/

.nav__headers {
  margin: 20px 3% 0;
  display: none;
  position: relative;
  right: 60px;
  text-align: right;
  
}

.nav__drop-down__button {
  background-image: url(../images/icons/menu.svg);
  background-color: #d4d2d2ed;
  height: 45px;
  width: 47px;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__drop-down__button: hover {
  background-color: #696969;
  border: 2px black solid;
}

.nav__drop-down {
  position: relative;
  display: inline-block;
}

.nav__drop-down__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav__drop-down__content a {
  color: black;
  display:block;
  font-size: 17px;
  height: 40px;
  margin: 0;
  padding: 12px 10px;
  margin-top: 10px;
}

.nav__drop-down__content a:hover {
  background-color: #696969;
  color: white;
}

.show {
  display:block;
}

.cancel {
  background-image: url(../images/icons/cancel.svg);
  height: 45px;
  width: 47px;
  background-repeat: no-repeat;
  background-size: cover;
}

/*search bar*/
.search-container:focus {
  background-color: #d4d2d2ed;
  color: #333;
  outline: 0;
}

.search-container {
  display: table;
  position: absolute;
  bottom: 10px;
  right: 6px;
  margin: 0;
  width: 20px;
  height: 20px;
}

.search-icon-btn {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  z-index: 2;
  background-color: #d4d2d2ed;
  border: 1px solid #d4d2d2ed;
}

.search-input {
  position: absolute;
  bottom: 2px;
  right: 0;
  z-index: 1;
}

#search-bar {
  font-size: 2em;
  background-color: #d4d2d2ed;
  border: 1px solid #ccc;
  height: 40px;
  padding: 25px;
  width: 45px;
}

.search-input #search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 250px;
}

.search-icon-btn, 
.search-input #search-bar {
   -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.search-container: hover > #search-bar {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}

#search__magnifying-img {
  width: 100%;
}

#search-bar {
  display: inline-block;
}

#search {
   width: 75px;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}

#search:focus {
   width: 200px;
}

/*header*/

.header {
  height: 270px;
  border-top: 2px black solid;
  width: 100%;
  background: linear-gradient(
    rgba(212, 212, 212, 0.2),
    rgba(194, 192, 192, 0.5)),
    url('../images/earth-night.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #e0e0e0;
  text-align: center;
}

.header__h1 {
  margin-top: 1em;
  padding-top: 2em;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold; 
}

.header__h2 {
  border-bottom: 3px #fff solid;
  margin: 1em auto;
  width: 250px;
  height: 30px;
  padding: 1.5em 10px 5px 10px;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-underline-position: under;
}

@media screen and (min-width: 800px) {

  .header__h2 {
    margin: 5em auto;

  }

  .nav__headers a {
    margin-right: 2em;
  }

  .nav__headers {
    display: inherit;
  }

  .nav__drop-down {
    display: none
  }
}

@media screen and (min-width: 845px) {
  .header__h1 {
    font-size: 2em;
    margin-top: 2em;
  }

  .header {
    height:350px; 
  }

  nav a {
    margin-right: 3em;
  }
}