@import "header.css";
@import "footer.css";
@import "header-landing-page.css"

*, 
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 0;
  letter-spacing: 2px;
}

body {
  font-size: 62.5%;
  background-color: #e5e5e5;
}

h3 {
  width: 75%;
  font-size: 1.4em;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  border-bottom: 2px #69696994 solid;
}

  
p {
  font-family: 'PT Sans', sans-serif;
  margin: 25px auto;
  width: 80%;
  font-size: 1.4em;
  line-height: 200%;
  letter-spacing: 0;
  text-align: left;
  white-space: pre-line;
}

p a {
  font-size: 1em;
  color: #696969;
  margin-right: 3px;
  letter-spacing: 0;
}

.main__links {
  text-align: center;
  display: flex;
  flex-direction: column;
  /*margin: 5em;*/

}

.main-links__li {
  position: relative;
  margin:  5px auto;
  padding: 10px;
      box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3);
  width: 60%;
  height: 35px;
  background-color: #fff;
}

.main-links__li:hover {
  border: 2px #69696994 solid;
}

.links__page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.drop-shadow-text-box {
  margin: auto;
  width: 95%;
  padding: 5px;
  background: rgba(212, 212, 212, 0.5)
}

.drop-shadow-text-box p {
  width: 90%;
}
.drop-shadow-text-box h3 {
  width: 60%;
}


@media screen and (min-width: 800px) {
  h3 {
    margin: 3em auto;
    width: 35%;
  }

  p {
    margin: 3em auto;
    font-size: 1.6em;
 
  }

  .drop-shadow-text-box {
    margin: 20px auto;
  }

  .main__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em;
  }

  .main-links__li {
    padding: 10px;
    margin: 0;
    margin-right: 20px;
    width: 150px;
  }

  .links__page {
    font-size: 1.3em;
  }
  
  .ref {
    margin-bottom: 5em;
  }

}

@media screen and (min-width: 1000px) {
  p {
    width: 55%;
  }

  .drop-shadow-text-box p {
  width: 75%;
  }
  .drop-shadow-text-box {
    width: 60%;
  }
}

