@import "header.css";
@import "footer.css";

*, 
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.5rem;
  margin: 0;
}

body {
  font-size: 62.5%;
  background-color: #e5e5e5;
  color: black;
}
