@import "landing-header.css";
@import "main.css";
@import "footer.css";

.resources-description {
  margin-bottom: 22px;
}

.header__h2 {
  width: 128px;
}

h3 {
  border-bottom: 2px #696969 solid;
  width: 22%;
}

h4 {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
}

p {
  text-align: left;
  width: 90%;
}

.long-p {
  text-align: left;
}

ol {
  margin: 25px 2%;
}

nav a, 
main a {
  color: #696969;
  text-decoration: none;
}

main a {
  margin: 0;
}

main ol a {
  color: #493084;
}

main a:hover {
  text-decoration: underline; 
}

main li a, main li, .manual-title {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 1px;
/*  font-size: 11px,*/
/*  margin: 0;*/
  font-size: 1.1em;
  font-weight: bold;
  overflow-wrap: break-word;
}

.main__links__a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.drop-shadow-text-box {
  margin: 20px auto;
  width: 85%;
  padding: 5px;
  background: rgba(212, 212, 212, 0.5)
}

#publications li,
#links li,
#user-manuals li {
  display: list-item;

}

.manual-title {
  display: block;

  font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px
}

.footer_image {
  background: linear-gradient(
    rgba(212, 212, 212, 0.2),
    rgba(194, 192, 192, 0.5)),
    url('../images/andreas-gucklhorn.jpg');
    height: 250px;
}

@media screen and (min-width: 525px) {
  .resources-description li{
    display: inline-block;
  }

  .drop-shadow-text-box {
    margin: 20px auto;
    width: 80%;
  }

  p {
    width: 70%;
  }

  ol {
    margin: 25px 6%;
  }
}

@media screen and (min-width: 800px) {
  p {
    margin: 25px auto
  }
}

@media screen and (min-width: 900px) {
  .drop-shadow-text-box {
    margin: 20px auto;
    width: 60%;
  }


  p {
    width: 50%;
  }
}