@import "landing-header.css";
@import "main.css";
@import "footer.css";

.resources-description {
  margin-bottom: 22px;
}

.header__h2 {
  width: 128px;
}

h3 {
  border-bottom: 2px #696969 solid;
  width: 22%;
}

h4 {
  font-size: 14px;
  text-align: center;
}

p {
  text-align: center;
  width: 90%;
}

.long-p {
  text-align: left;
}

ol {
  margin: 25px 8%;
}

#links ol {
  margin: 25px 5%;
}

nav a, 
main a {
  color: #696969;
  text-decoration: none;
}

nav a {
  font-size: 1.5em;
  margin-right: 3em;
}

main a {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.main__links__a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.main__links__a:hover {
  color: #fff;
}

#user-manuals {
  background: linear-gradient(
    rgba(212, 212, 212, 0.5),
    rgba(194, 192, 192, 0.5)),
    url('../images/nyc-night.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.drop-shadow-text-box {
  margin: 0;
  width: 98%;
  padding: 5px;
  background-color: #e5e5e5c2;
}

#publications li,
#links li,
#user-manuals li {
    display: list-item;
}

#publications {
  background: linear-gradient(
    rgba(212, 212, 212, 0.5),
    rgba(194, 192, 192, 0.5)),
    url('../images/andreas-gucklhorn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 10px;
}

@media screen and (min-width: 525px) {
  .resources-description li{
    display: inline-block;
  }

  .drop-shadow-text-box {
    margin: 20px auto;
    width: 80%;
  }

  p {
    width: 70%;
  }
}

@media screen and (min-width: 900px) {
  .drop-shadow-text-box {
    margin: 20px auto;
    width: 60%;
  }

  #links ol {
    margin: 25px 20%;
  }

  p {
    width: 50%;
  }
}