@import "landing-header.css";
@import "main.css";
@import "footer.css";
@import "table.css";

table {
  width: 90%;
}

.current-version__section caption {
  width: 40%;
  margin: 20px;
  text-align: left;
}

.current-version__section {
  overflow: scroll;
}

.available-versions__section, 
.physical-solar-model__section, 
.data-availability {
  width: 100%;
  text-align: center;
}

.footer_image {
  background: linear-gradient(
    rgba(212, 212, 212, 0.2),
    rgba(194, 192, 192, 0.5)),
    url('../images/andreas-gucklhorn.jpg');
    height: 250px;
}

.notes {
  margin: 0 auto 10em;
}


.pdf-links {
  font-size: 1em;
  color: #696969;
}

.td__desc {
  padding: 25px;
}

.data__table-2 td {
  width: 30%;
  padding: 7px;
}



@media screen and (min-width: 600px) {
  h3 {
    width: 14%;
  }

  .about-description {
    margin-top: 3em;
  }

  .current-version__section caption {
    margin: 20px auto;
    width: 80%;
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  table {
    width: 90%;
  }
}
